scripts/data
data/eeglab_data_tmp_out_matlab.fdt
data/icaweights_comparison.png
data/iclabel_classifications_default.png
data/iclabel_correlations_default.png
data/test_file.edf
.coverage*
htmlcov/
temp
*.set
*.mat
src/eegprep.egg-info
__pycache__
*tmp_out2.*
eeglab_data_with_ica_out.set
eeg_autocorr_data.mat
eeg_rpsd_data.mat
fit_eeg_distribution_for_compiling.m
topoplot_data.mat
eeglab_data_with_ica_tmp_out.set
.vscode/
data/ds002680/
out_dir
figures
notebooks/octave-workspace
old
python_temp.mat
python_temp_reformated.mat
*.asv
.venv/
build/
test*.set
test*.fdt
tmp*.set
tmp*.fdt
matlab/clean_rawdata
