{
   "set2": "/System/Volumes/Data/data/matlab/eeglab/sample_data/eeglab_data_epochs_ica.set",
   "set3": "/usr/src/project/data/eeglab_data_with_ica_tmp.set",
   "set": "data/eeglab_data_with_ica_tmp.set",
   "set5": "/System/Volumes/Data/data/matlab/eeglab/sample_data/eeglab_data.set"
}
