colorama>=0.4.6
h5py>=3.3.0
matplotlib>=3.4.0
mne>=1.10.0
neo>=0.14.2
numpy<2.0
oct2py>=5.5.0
psutil>=7.0.0
pybids>=0.4
pyedflib>=0.1.42
python-picard>=0.8,<0.9
scipy>=1.7.0
threadpoolctl>=3.6.0
torch>=1.10.0
